{{#each pictures as |picture|}}

<div class="picture" data-id="{{picture.id}}">
  <ul>
      <img src="{{picture.url}}">
</ul>
  <hr>
</div>
<button  data-id="{{picture.id}}" class="btn btn-danger delete">Remove</button>
<button  data-id="{{picture.id}}" class="btn btn-warning update">Update</button>
{{/each}}
